name: Allure,CLI, HTML and Slack Reporting
# Allows you to Manually Triggering the workflow from Actions Tab
on:
  workflow_dispatch:
# Giving necessary permission to token such that this workflow can upload and deploy HTML content to pages
permissions:
  contents: read
  pages: write
  id-token: write
  
jobs:
  build:
    name: API Test Runner
    environment:
      name: github-pages
      url: ${{steps.deployment.outputs.page_url}}
    runs-on: ubuntu-latest
    steps:
#Checking out the repository so that workflow can access it
      - name: Checkout Repository
        uses: actions/checkout@v4
# Installing latest stable version of Node JS 
      - name: Install NodeJS
        uses: actions/setup-node@v4
        with:
          node-version: lts/*
          check-latest: true
# Installing all the required npm packages required for running postman tests, HTML and Slack Reporting
      - name: Install NewMan and HTMLextra reporter plugins
        run: |
          npm install -g newman
          npm install -g newman-reporter-htmlextra
          npm install -g newman-reporter-slackreporter
          npm install -g newman-reporter-allure
          npm install -g allure-commandline --save-dev
# Creating a test results folder to upload all the artifacts generated from HTML Extra and Allure Reporting.
      - name: Create Test Results Folder
        run: |
          mkdir -p GitHubAPITestResults
          mkdir -p GitHubAPITestResults/allure-postman
# To append current time stamp to test results folder that will be available after workflow run
      - name: Get Current TimeStamp
        id: current_TimeStamp
        run: echo "current_TimeStamp=$(date +%Y%m%d%H%M%S)" >> $GITHUB_ENV
# Running my collection with environment file as my collection uses some environmental variables with Newman CLI along with reporter tools which we installed in previous steps
# Providing GitToken and SlackWebhook from repo secrets, As my tests need GitHub token to test GithUb APi's and for sending results to slack.
      - name: Run the collection with Newman and HTMLextra
        env:
          SLACK_WEBHOOK_URL: ${{secrets.SLACK_WEBHOOK_URL_RJD}}
          GIT_TOKEN: ${{secrets.TOKEN_ACCESS}}
        run: >
          newman run "Postman Collections/github_api_testing.json" --env-var "gitUserToken=$GIT_TOKEN" --environment "Postman Collections/GitTest.postman_environment.json"
          -r htmlextra,cli,slackreporter,allure --reporter-htmlextra-browserTitle "GitHub API Report" --reporter-htmlextra-title "GITHUB API Testing DashBoard" 
          --reporter-htmlextra-export GitHubAPITestResults/HTMLExtra/postman-newman-report.html --reporter-htmlextra-skipHeaders "Authorization" 
          --reporter-slackreporter-webhookurl $SLACK_WEBHOOK_URL --reporter-allure-resultsDir GitHubAPITestResults/allure-postman --suppress-exit-code 
          
          npx allure generate --single-file allure-postman --output GitHubAPITestResults/allure-postman --clean
 # For enabling pages functionality 
      - name: Setup GitHub Pages
        uses: actions/configure-pages@v5
 # For uploading the HTML page to view in Github pages. Here I am uploading only HTML Extra generated HTML file intentionally
      #- name: Upload HTML Extra Report in GitHub Page
        #uses: actions/upload-pages-artifact@v3
        #with: 
          #path: GitHubAPITestResults/HTMLExtra
 # Here I am uploading only Allure Report, you can choose any one either HTML Extra or Allure report
 # Just for demosntration purpose of how to generate single file HTML Allure report and uploading it to Pages I am doing this in case if it will be useful for audience
      - name: Upload Allure Report in GitHub Page
        uses: actions/upload-pages-artifact@v3
        with: 
          path: GitHubAPITestResults/allure-postman

 # For deploying the above uploaded artifact to GitHub pages
      - name: Deploy GitHub Page
        id: deployment
        uses: actions/deploy-pages@v4
 # Uploading all the artifacts including Allure and HTML Extra with folder name having current date time stamp to distingush my results.      
      - name: Upload generated HTML file to Github Action
        uses: actions/upload-artifact@v4
        with: 
          name: GitHubAPITestingReport_${{env.current_TimeStamp}}
          path: GitHubAPITestResults
